@charset "UTF-8";

.recipeEditWrap{
    margin: 0;
    padding: 0;
	font-size: 12px;
	margin: 0 auto;
	width: 900px;
	margin-top: 30px;
	border: 1px solid #D9D9E0;
}

.recipeEditTitle{
	margin-bottom: 10px;
	width: 100%;
	border-bottom: 0.5px solid lightgray;
	display:block;
}

.recipeEditTitle input{
	margin: 0 auto;
	margin-top:10px;
	margin-bottom: 10px;
	width: 890px;
	border-style: none;
	border: 1px solid lightgray;
	border-radius: 4px;
	display:block;
}

.recipeEditContent{
	width: 100%;
	display:block;
	border-bottom: 0.5px solid lightgray;
	margin-bottom: 10px;
}

.recipeEditContent textarea{
	width: 890px;
	height: 300px;
	border-style: none;
	border: 1px solid lightgray;
	border-radius: 4px;
	display:block;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* 하단 버튼 */
#recipeEditBottom{
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 15px;
}

#recipeEditBottom button{
	border-style: none;
	border: 1px solid lightgray;
	padding: 3px 10px;
	background-color: white;
}

#recipeEditBottom #submit{
	background-color: #111;
	color: #fff;
}

#recipeEditBottom #submit:hover{
	border-color: #111;
	background-color: #fff;
	color: #111;
}

#recipeEditBottom #reset:hover{
	border-color: #111;
}