@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

.nav_bar{
    height: 100px;
    background-color: rgb(50, 68, 50);
    position: relative;
    margin-bottom: 20px;

}

.manual_n_video >p{

    text-align: center;
    line-height: 100px;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(34, 33, 33);
}

.logo_frame{
    /* background-color: brown; */
    width: 100px;
    display: block;
    position: absolute;
    top: 40px;
    left: 30px;
    overflow: hidden;
}
.logo{
    width: 100%;
    
}

.left{
    position: absolute;
    top: 35px;
    left: 130px;
    color:antiquewhite;
    font-size: 20px;

    
}
.left a{
    color: bisque;
}
.right{
    position: absolute;
    top: 35px;
    right: 100px;
    color:antiquewhite;
    font-size: 20px;
}
.right a{
    color: bisque;
}

h2{
    margin-top: 100px;
    margin-left: 210px;
}

/*픽토그램*/
.icons{
    display: flex;
    justify-content: center;
    place-items: center;
    margin-top: 70px;
    height: 500px;
    background-color: antiquewhite;
    position: relative;  
}
.icons_frame{
    margin: 0 10px 0;
    display: grid;
    place-items: center; 
    width: 260px;
    height: 340px;
    border-radius: 10%;
    background-color: rgb(248, 248, 247);
}

.icons_frame img{
    max-width: 200px;
    
   
    
}
.icons p{
    text-align: center;
    line-height: 95px;
    font-size: 22px;
    font-weight: bold;
}




/* 게시판 */
a {
    text-decoration: none;
    color: #333;
    
  }
  a:hover {color: rgb(115, 160, 115);}
  
  /* 테이블 색상 (중요하지 않음) */
  table {
    width: 80%;
    margin: 40px auto 10px;
    border-collapse: collapse;
  }
  th {
    height: 30px;
    background: #80878b;
    color: #fff;
  }

  th p{
    font-size: 15px;
  }
  td, th {
    height: 30px;
    border: 1px solid #dbdbdb;
    padding: 5px 20px;
  }
  td p{
    font-size: 15px;
  }
  tr:nth-of-type(odd) { 
      background: #eee; 
  }
  
  /* 체크박스의 크기 */
  .check {
    width:15px;
    height:15px;
  }
  
  /* 컬럼의 너비 */
  .select {width: 3%;}
  .no {width: 15%;}
  .title {/* 나머지가 자동으로 맞춰집니다. */}
  .writer {width: 20%;}
  .date {width: 15%;}
  
  /* 컬럼의 정렬 */
  tr td:nth-child(1){text-align:center;}
  tr td:nth-child(2){text-align:center;}
  tr td:nth-child(3){text-align:left;}
  tr td:nth-child(4){text-align:center;}
  tr td:nth-child(5){text-align:center;}
  
  /* 페이징 버튼 */
  .page-box {
    width: 80%;
    margin: 5px auto;
    margin-bottom: 30px;
    height: 30px;
    text-align: center;
  }
  .page-box a.btn {
    display:inline-block;
    padding: 3px 5px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    color: #333;
  }
  .page-box a.btn.on {
    background-color: #dbdbdb;
    
  }

/* 푸터 */
footer{
    height: 200px;
    width: 100%;
    background-color: gray;
    
 }